/***** Screen 960px *****/

.container_24 						{ margin:0 auto; width:960px; }
.container_24 .container_24 		{ margin:0 -5px 0 -5px; }

/* `Grid >> Global 24 Columns
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.grid_1 							{ width: 30px; }
.grid_2 							{ width: 70px; }
.grid_3 							{ width: 110px; }
.grid_4 							{ width: 150px; }
.grid_5 							{ width: 190px; }
.grid_6 							{ width: 230px; }
.grid_7 							{ width: 270px; }
.grid_8 							{ width: 310px; }
.grid_9 							{ width: 350px; }
.grid_10 							{ width: 390px; }
.grid_11 							{ width: 430px; }
.grid_12 							{ width: 470px; }
.grid_13 							{ width: 510px; }
.grid_14 							{ width: 550px; }
.grid_15 							{ width: 590px; }
.grid_16 							{ width: 630px; }
.grid_17 							{ width: 670px; }
.grid_18 							{ width: 710px; }
.grid_19 							{ width: 750px; }
.grid_20 							{ width: 790px; }
.grid_21 							{ width: 830px; }
.grid_22 							{ width: 870px; }
.grid_23 							{ width: 910px; }
.grid_24 							{ width: 950px; }

/* `Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.prefix_1 							{ margin-left: 45px; }
.prefix_2 							{ margin-left: 80px; }
.prefix_3 							{ margin-left: 125px; }
.prefix_4 							{ margin-left: 165px; }
.prefix_5 							{ margin-left: 205px; }
.prefix_6 							{ margin-left: 245px; }
.prefix_7 							{ margin-left: 285px; }
.prefix_8 							{ margin-left: 325px; }
.prefix_9 							{ margin-left: 365px; }
.prefix_10 							{ margin-left: 405px; }
.prefix_11 							{ margin-left: 445px; }
.prefix_12 							{ margin-left: 485px; }
.prefix_13 							{ margin-left: 525px; }
.prefix_14 							{ margin-left: 565px; }
.prefix_15 							{ margin-left: 605px; }
.prefix_16 							{ margin-left: 645px; }
.prefix_17 							{ margin-left: 685px; }
.prefix_18 							{ margin-left: 725px; }
.prefix_19 							{ margin-left: 765px; }
.prefix_20 							{ margin-left: 805px; }
.prefix_21 							{ margin-left: 845px; }
.prefix_22 							{ margin-left: 885px; }
.prefix_23 							{ margin-left: 925px; }

/* `Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.suffix_1 							{ margin-right: 45px; }
.suffix_2 							{ margin-right: 80px; }
.suffix_3 							{ margin-right: 125px; }
.suffix_4 							{ margin-right: 165px; }
.suffix_5 							{ margin-right: 205px; }
.suffix_6 							{ margin-right: 245px; }
.suffix_7 							{ margin-right: 285px; }
.suffix_8 							{ margin-right: 325px; }
.suffix_9 							{ margin-right: 365px; }
.suffix_10 							{ margin-right: 405px; }
.suffix_11 							{ margin-right: 445px; }
.suffix_12 							{ margin-right: 485px; }
.suffix_13 							{ margin-right: 525px; }
.suffix_14 							{ margin-right: 565px; }
.suffix_15 							{ margin-right: 605px; }
.suffix_16 							{ margin-right: 645px; }
.suffix_17 							{ margin-right: 685px; }
.suffix_18 							{ margin-right: 725px; }
.suffix_19 							{ margin-right: 765px; }
.suffix_20 							{ margin-right: 805px; }
.suffix_21 							{ margin-right: 845px; }
.suffix_22 							{ margin-right: 885px; }
.suffix_23 							{ margin-left: 925px; }

.show-phone 						{ display:none !important; }
.show-tablet 						{ display:none !important; }
.show-screen						{ display:inherit !important; }
	
.hide-phone							{ display:inherit !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:none !important; }




/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {

.container_24 						{ margin:0 auto; width:768px; }
.container_24 .container_24 		{ margin:0 -4px 0 -4px; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
  display: inline;
  float: left;
  margin-left: 4px;
  margin-right: 4px;
}

.grid_1 							{ width: 24px; }
.grid_2 							{ width: 56px; }
.grid_3 							{ width: 88px; }
.grid_4 							{ width: 120px; }
.grid_5 							{ width: 152px; }
.grid_6 							{ width: 184px; }
.grid_7 							{ width: 216px; }
.grid_8 							{ width: 248px; }
.grid_9 							{ width: 280px; }
.grid_10 							{ width: 312px; }
.grid_11 							{ width: 344px; }
.grid_12 							{ width: 376px; }
.grid_13 							{ width: 408px; }
.grid_14 							{ width: 440px; }
.grid_15 							{ width: 472px; }
.grid_16 							{ width: 504px; }
.grid_17 							{ width: 536px; }
.grid_18 							{ width: 568px; }
.grid_19 							{ width: 600px; }
.grid_20 							{ width: 632px; }
.grid_21 							{ width: 664px; }
.grid_22 							{ width: 696px; }
.grid_23 							{ width: 728px; }
.grid_24 							{ width: 760px; }

.prefix_1 							{ margin-left: 36px; }
.prefix_2 							{ margin-left: 68px; }
.prefix_3 							{ margin-left: 100px; }
.prefix_4 							{ margin-left: 132px; }
.prefix_5 							{ margin-left: 164px; }
.prefix_6 							{ margin-left: 196px; }
.prefix_7 							{ margin-left: 228px; }
.prefix_8 							{ margin-left: 260px; }
.prefix_9 							{ margin-left: 292px; }
.prefix_10 							{ margin-left: 324px; }
.prefix_11 							{ margin-left: 356px; }
.prefix_12 							{ margin-left: 388px; }
.prefix_13 							{ margin-left: 420px; }
.prefix_14 							{ margin-left: 452px; }
.prefix_15 							{ margin-left: 484px; }
.prefix_16 							{ margin-left: 516px; }
.prefix_17 							{ margin-left: 548px; }
.prefix_18 							{ margin-left: 580px; }
.prefix_19 							{ margin-left: 612px; }
.prefix_20 							{ margin-left: 644px; }
.prefix_21 							{ margin-left: 676px; }
.prefix_22 							{ margin-left: 708px; }
.prefix_23 							{ margin-left: 740px; }
		
.suffix_1 							{ margin-right: 36px; }
.suffix_2 							{ margin-right: 68px; }
.suffix_3 							{ margin-right: 100px; }
.suffix_4 							{ margin-right: 132px; }
.suffix_5 							{ margin-right: 164px; }
.suffix_6 							{ margin-right: 196px; }
.suffix_7 							{ margin-right: 228px; }
.suffix_8 							{ margin-right: 260px; }
.suffix_9 							{ margin-right: 292px; }
.suffix_10 							{ margin-right: 324px; }
.suffix_11 							{ margin-right: 356px; }
.suffix_12 							{ margin-right: 388px; }
.suffix_13 							{ margin-right: 420px; }
.suffix_14 							{ margin-right: 452px; }
.suffix_15 							{ margin-right: 484px; }
.suffix_16 							{ margin-right: 516px; }
.suffix_17 							{ margin-right: 548px; }
.suffix_18 							{ margin-right: 580px; }
.suffix_19 							{ margin-right: 612px; }
.suffix_20 							{ margin-right: 644px; }
.suffix_21 							{ margin-right: 676px; }
.suffix_22 							{ margin-right: 708px; }
.suffix_23 							{ margin-right: 740px; }

.show-phone 						{ display:none !important; }
.show-tablet 						{ display:inherit !important; }
.show-screen						{ display:none !important; }
	
.hide-phone							{ display:inherit !important; }
.hide-tablet						{ display:none !important; }
.hide-screen						{ display:inherit !important; }
	
}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

.container_24 						{ margin:0 auto; width:300px; }
.container_24 .container_24 		{ margin:0; }
		
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 							{ width:300px; margin:10px 0 0 0; float:left; display:inline; }

.prefix_1,
.prefix_2,
.prefix_3,
.prefix_4,
.prefix_5,
.prefix_6,
.prefix_7,
.prefix_8,
.prefix_9,
.prefix_10,
.prefix_11,
.prefix_12,
.prefix_13,
.prefix_14,
.prefix_15,
.prefix_16,
.prefix_17,
.prefix_18,
.prefix_19,
.prefix_20,
.prefix_21,	
.prefix_22,
.prefix_23,							{ margin-left:0; }

.suffix_1,
.suffix_2,
.suffix_3,
.suffix_4,
.suffix_5,
.suffix_6,
.suffix_7,
.suffix_8,
.suffix_9,
.suffix_10,
.suffix_11,
.suffix_12,
.suffix_13,
.suffix_14,
.suffix_15,
.suffix_16,
.suffix_17,
.suffix_18,
.suffix_19,
.suffix_20,
.suffix_21,	
.suffix_22,
.suffix_23,							{ margin-right:0; }

.show-phone 						{ display:inherit !important; }
.show-tablet 						{ display:none !important; }
.show-screen						{ display:none !important; }
	
.hide-phone							{ display:none !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:inherit !important; }
			
}	 




/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {

.container_24 						{ margin:0 auto; width:456px; }
.container_24 .container_24 		{ margin:0; }
	
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 							{ width:456px; margin:10px 0 0 0; float:left; display:inline; }

.show-phone 						{ display:inherit !important; }
.show-tablet 						{ display:none !important; }
.show-screen						{ display:none !important; }
	
.hide-phone							{ display:none !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:inherit !important; }

}




/***** Clean up *****/

.container:after 					{ content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix:before,
.clearfix:after,
.container_24:before,
.container_24:after 							{ content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.container_24:after,	.clearfix:after 		{ clear:both; }
.container_24, 
.clearfix 							{ zoom:1; }
.clear 								{ clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;	}