@IMPORT url("jquery.ui.dialog.css");

/*----------------- PAGES CSS--------------*/

#hana-page-meta-boxes .inside, #hana-portfolio-meta-boxes .inside {
	padding: 0;
	margin: 0;
}

.hana-panel-wrap ul.tabs {
	background: #EAEAEA;
	padding: 3px 9px 0;
	margin: 0;
	overflow: hidden;
	zoom: 1;
	line-height: 1em;
	-webkit-box-shadow: inset 0 -1px 0 0 #D5D5D5;
	-moz-box-shadow: inset 0 -1px 0 0 x #d5d5d5;
	box-shadow: inset 0 -1px 0 0 #D5D5D5;
}

.hana-panel-wrap ul.tabs li {
	float: left;
	padding: 0;
	margin: 0 5px 0 0;
}

.hana-panel-wrap ul.tabs li a {
	padding: 0;
	margin: 0;
	border: 0;
	border: 1px solid #D5D5D5;
	float: left;
	padding: 9px 9px;
	background: #ECECEC;
	text-decoration: none;
	color: #555;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.5);
}

.hana-panel-wrap ul.tabs li.ui-state-active a {
	background: #F8F8F8;
	border-bottom: 1px solid #F8F8F8;
	color: #555;
}

.option-description {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #828282;
	padding: 5px 0px;
	font-style: italic;
	line-height: 1.5em;
	margin: 0 0 0 7px;
}

.ui-widget-header .ui-icon {
	float: left;
	margin-right: 5px;
}

.icon-small {
	position: relative;
	top: -3px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(../images/hana_icon.png);
}

.option-container {
	padding: 5px 9px 14px 159px;
	margin: 9px 0 0 0;
	line-height: 24px;
	font-size: 12px;
	border-bottom: 1px solid #DFDFDF;
}

.option-container label {
	float: left;
	width: 140px;
	padding: 0;
	margin-left: -150px;
}

.option-container textarea, .option-container input, .option-container select {
	margin: 0;
}

.option-container input[type="text"] {
	width: 20%;
}

.option-container textarea {
	vertical-align: top;
	height: 3.5em;
	line-height: 1.5em;
	width: 20%;
}

.option-container select {
	min-width: 20%;
}

.option-container .button-primary{
	min-width:90px;
}

#wpcontent .option-container select {
	padding-left:10px;
}

#wpcontent .option-container option, #wpcontent .option-container input[type=text] {
	padding:2px 10px;
}

#wpcontent .option-container input[type=text]{
	height:25px;
}

.option-container .button-primary, .option-container .button-primary {
	margin: 10px 10px 0 0;
}

.option-container input[type="text"].upload {
	width: 100%;
}

.option-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #444;
	display: block;
	padding: 15px 0px 10px;
}


/*----------- SHORTCODE BUTTONS STYLES  -------------*/


.hana-shortcode-field {
	height: auto;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hana-shortcode-field label {
	float: left;
	width:110px;
	margin:5px 6px 0 0;
}

.hana-shortcode-field input[type=text] {
	float: left;
	height: 25px;
	width: 340px;
}

.hana-shortcode-field input.hana-upload{
	width:230px;	
}

.hana-shortcode-field select {
	float: left;
	height: 25px;
	width: 200px;
}


.hana-shortcode-field input.button-secondary{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	max-width: 85px;
}

.hana-shortcode-field textarea {
	float: left;
	width: 340px;
	height: 70px;
	display: block;
}


input.upload {
	width: 640px;
}

a.button-upload {
	width: 44px;
}

.upload-button {
	float: right;
	margin-right: 30px;
	position: relative;
	top: 4px;
	width: 44px;
}

.option-container option[disabled=disabled] {
	font-weight: bold;
	text-align: center;
	background-color: #ededed;
}

.postbox .hndle span {
}

.imageradio {
	float: left;
	margin-right: 20px;
}

.imageradio input[type=radio] {
	position: relative;
	top: -35px;
	margin-right: 6px;
}

.hana-dialog{
	padding:7px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;	
	background:url(../images/trans.png) repeat;
}

.hana-dialog .ui-widget-header{
	height:30px;
	background:url(../images/dialog_heading.png) repeat-x;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.hana-dialog .ui-widget-header .ui-icon-closethick {
	top:-2px;
	right:5px;	
}

.hana-dialog .ui-dialog-title{
	text-shadow:1px 1px #FFFFFF;
	font-weight: bold;
	font-size:14px;
	position:relative;
	top:5px;
}

.hana-dialog .ui-widget-content{
	background-color: #fff;	
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	border-top:1px solid #bec4ca;
	padding:21px;
}

.hana-dialog .deleteButton, .hana-dialog .ui-icon-closethick {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../images/delete.png) no-repeat;
}

.option-heading h4{
    background: url("../images/dialog_heading.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
	border:1px solid #bfcddc;
	color:#585858;
	text-transform:capitalize;
	text-shadow: 1px 1px 1px #fff;
}